

html,body{
font-family: 'Numans', sans-serif;
}

.container{
    position: relative;
    
    top: 0em;

}

#heads h1{
        position: relative;
        left:4em;
        color: white;
      }
@media only screen and (max-width: 1050px) {
        #heads h1{
          position: relative;
          left:4em;
          color: white;
        }
      
      }
@media only screen and (max-width: 750px) {
        #heads h1{
          position: relative;
          left:4em;
          color: white;
        }
      
      }
@media only screen and (max-width: 400px) {
        #heads h1{
          position: relative;
          left:0.75em;
          color: white;
          font-size: 30px;
        }
      
      }

.card{
height: 370px;
margin-top: 3em;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

#btn{
    color: blue !important;
}


